{% extends 'base.html' %}

{% block title %}
Seizure Log
{% endblock %}



{% block styles %}
<style>
  #table-head {
    background-color: #2965d3;
    color: #ffffff;
  }

  #submit-button {
    background-color: #2965d3;
    color: #ffffff;
  }

  .pagination>li>a {
    background-color: white;
    color: #2965d3;
  }

  .pagination>.active>a {
    color: white;
    background-color: #2965d3 !Important;
    border: solid 1px #2965d3 !Important;
  }
</style>


{% endblock %}


{% block content %}

<!-- chart and table conatainer-->
<div class="container mt-3">
  <div class="container">
    <p class="lead">
        Week of {{week_dates.0|date:'F'}} {{ord_date.0}} - {{week_dates|last|date:'F'}} {{ord_date.1}}
    </p>
</div>


  <!-- begin Chart -->
  <div class="container mb-2">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>

  <!-- BEGIN table-container-->
  <div class="container mt-3">
    <table class="table table-bordered table-striped table-sm">
      <thead class="thead-dark">
        <tr id='table-head'>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Duration</th>
          <th scope="col">Action</th>
          <th style="width: 10%" scope="col">Initials</th>
        </tr>
      </thead>
      {% for row in page_obj %}
      <tr>
        <!-- Order by date -->
        <!-- add row for data -->
        <td scope="row">{{row.date|date:"D, M jS" }}</td>
        <td>{{row.date|date:'g:i a'}}</td>
        <td>{{row.duration}}</td>
        <td>{{row.action}}</td>
        <td>{{row.initial}}</td>
      </tr>
      {% endfor %}

    </table>

    <!-- pagination -->
<div class="conainer">


    <div class="row">
      <div class="col-md-12">
        <div class="pagination">
          <ul class="pagination ">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only"></span>
              </a>
            </li>
            {% else%}
            <li class="page-item disabled">

                <span class='page-link' aria-hidden="true">&laquo;</span>
              </a>
            </li>

            

            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link" href="?page={{ i }}">{{ i }}</span></li>

                {% else %}

              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only"></span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">

              <span class='page-link' aria-hidden="true">&raquo;</span>
            </a>
          </li>
            {% endif %}
          </ul>
        </div>
      </div>






  {% comment %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  {% endcomment %}

  </div>
</div>
  <!-- END-table-container -->
</div>


<!-- BEGIN Form container -->
<div class="container">
  

  <form class="card p-3 bg-light form-horizontal" method="POST">
    <p class="lead">
      <strong>Seizure Form</strong>
    </p>
      {% csrf_token %}
    <!-- datetime, duration row-->
    <div class="row">
        <!-- Date time form field -->
        <div class="col">
            <div class="mb-3">
                <label class="col-sm-4 col-form-label form-control-sm" for="date_time">Date & Time</label>
                <div class="col-sm-8">
                    {{form.date}} 
                    {% if form.date.errors %} 
                        {% for error in form.date.errors %}
                            <small class="text-danger"> {{error}} </small>
                        {% endfor %} 
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Duration form field -->
        <div class="col">
            <div class="mb-3">
                <label class="col-sm-4 col-form-label form-control-sm" for="duration">Duration</label>
                <div class="col-sm-8">
                    {{form.duration}} 
                    {% if form.duration.errors %} 
                        {% for error in form.duration.errors %}
                            <small class="text-danger">Duration must be a number (in seconds)</small>
                        {% endfor %} 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- initials, action taken row-->
    <div class="row">
        <!-- nurse initials form field -->
        <div class="col">
            <div class="mb-3">
            <label class="col-sm-4 col-form-label form-control-sm" for="initials">Initials</label>
            <div class="col-sm-3">
                {{form.initial}} 
                {% if form.initial.errors %}
                    <ul class="errors">
                        {% for error in form.initial.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>

        <!-- action taken form field -->
        <div class="col">
            <div class="mb-3">
                <label class="col-sm-4 col-form-label form-control-sm" for="action_taken">Action Taken</label>
                <div class="col-sm-8">
                    {{form.action}} 
                    {% if form.action_taken.errors %}
                        <ul class="errors">
                            {% for error in form.action_taken.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
      <input id="submit-button" class="btn btn-primary btn-small" type="submit" value="Submit Seizure" />
    </div>
  </form>
</div>
<!-- END Form container -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>



<script>
  const labels = {{ labels | safe }};

  const data = {
    labels: labels,
    datasets: [
      {
        label: "Number of Seizures",
        backgroundColor: "rgb(51, 153, 255)",
        borderColor: "rgb(101, 180, 255)",
        fill: false,
        data: {{ week_freq}},
  tension: 0.05,
      },
    ],
  };
  const config = {
    type: "line",
    data,
    options: {


      legend: {
        position: 'bottom',
      },
      hover: {
        mode: 'label'
      },
      scales: {x: { title: { display: true, text: 'Day of Week' }},

        y: {
          suggestedMax: 10,
          title: { display: true, text: 'Number of Seizures' },

      },

      },
      // Boolean - whether or not the chart should be responsive and resize when the browser does.

      responsive: true,

      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container

      maintainAspectRatio: false,
    },

  };
  var myChart = new Chart(document.getElementById("myChart"), config);
</script>



{% endblock %}