{% extends 'base.html' %}


{% block title %}
Notes
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <div class='px-2'>
            <p class="lead">
                Notes
            </p>
        </div>
        <div>
            <a href="{% url 'new_note' %}" class="btn btn-link">
                Create Note (+)
            </a>
        </div>
    </div>

    {% for note in notes %}
    <div class="card border-dark mb-3">
        <div class="card-header">
            {{note.date|date:"l, jS F g:i a"}} - {{note.author}}
        </div>
        <div class="card-body">
            {{note.body}}
        </div>
    </div>
    {% empty %}
    <p class="mt-5 lead text-center">No Notes so far.. </p>
    <p class="lead text-center"><a href="{% url 'new_note' %}" class="btn btn-link">
            Add a note?
        </a></p>
    {% endfor %}


</div>
{% endblock %}