<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Z-Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% url 'home' as home_url %}
    {% url 'interventions' as int_url %}
    {% url 'mar:scheduled' as mar_sched_url %}
    {% url 'mar:prn' as mar_prn_url %}
    {% url 'bm' as bm_url %}
    {% url 'home' as sz_url %}
    {% url 'equipment' as eq_url%}
    {% url 'notes' as notes_url%}

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item{% if request.path == home_url %} active {% endif%} nav-link" href="{% url 'home' %}">Home</a>
        <li class="nav-item dropdown">
          <a class=" nav-link {% if request.path == mar_prn_url %} active {% elif request.path == mar_sched_url %}active{% endif %} dropdown-toggle "
            href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MAR
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
              <a class="dropdown-item" href="{% url 'mar:scheduled' %}">Scheduled Meds</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'mar:prn'%}">PRN Meds</a></li>
          </ul>
        </li>
        <a class=" nav-item {% if request.path == int_url %}active{% endif %} nav-link"
          href="{% url 'home' %}">Interventions</a>

        <a class=" nav-item {% if request.path == sz_url %}active{% endif %} nav-link" href="{% url 'home' %}">Seizure
          Log</a>
        <a class=" nav-item {% if request.path == bm_url %}active{% endif %} nav-link" href="{% url 'bm' %}">BM log
        </a>
        <a class=" nav-item {% if request.path == eq_url %}active{% endif %} nav-link"
          href="{% url 'equipment' %}">Equipment</a>

        <a class=" nav-item {% if request.path == notes_url %}active{% endif %} nav-link"
          href="{% url 'notes' %}">Notes</a>
      </div>
    </div>
  </div>
</nav>