            
            
            
{% for row in mar_array %}
{{row}}
{% if med.time_count == 1 %}
<tr>
    <td>{{med.name}} {{med.dose}}</td>
    {% if med.times == '0730' %}
    <td style='background-color:#90EE90'>AM</td>
    {% elif med.times == '1330' %}
    <td style='background-color:#eaf58c'>MID-DAY</td>
    {% else %}
    <td style='background-color:#dba48b'>PM</td>
    {% endif %}
    <!--Begin Mar Logic-->
    {% for row in mar_array %}
    {% for entry in row %}

    {% if entry %}
    <td>
        {{entry}}
    </td>
    {% else %}
    <td>
        {% include 'includes/mar_form.html' %}
    </td>
    {% endif %}
    {% endfor %}

    {% endfor%}



</tr>
<!--If med has more than one admin time-->
{% else %}
<tr>
    <td rowspan='{{med.time_count}}'>{{med.name}} <br> {{med.dose}}</td>
    {% if med.times_as_list.0 == '0730' %}
    <td style='background-color:#90EE90'>AM</td>
    {% elif med.times_as_list.0 == '1330' %}
    <td style='background-color:#eaf58c'>MID-DAY</td>
    {% else %}
    <td style='background-color:#dba48b'>PM</td>
    {% endif %}


    {% for date in week_dates %}
    <td>{{date}}</td>
    {% endfor %}
</tr>
{% for time in med.times_as_list|slice:'1:' %}
<tr>
    {% if time == '0730' %}
    <td style='background-color:#90EE90'>AM</td>
    {% elif time == '1330' %}
    <td style='background-color:#eaf58c'>MID-DAY</td>
    {% else %}
    <td style='background-color:#dba48b'>PM</td>
    {% endif %}

    {% for date in week_dates %}
    <td>{{date}}</td>
    {% endfor %}
</tr>
{% endfor%}
{% endif %}
{% endfor %}